<!DOCTYPE html>
<html>
<h1>Grocery Recommender</h1>

<h2>Basket</h2>

<ul>
{% for item in basket %}
    <li>{{ item }}</li>
{% endfor %}
</ul>

<form method="post" action="/reset-basket/">
    <button type="submit">Reset basket</button>
</form>

<h2>Recommendations</h2>

<form action="{{ url_for('add_thing') }}" method="post">
    <ul>
    {% for item in recommendations %}
        <li>
            <input type="checkbox" id="item-{{ item }}" name="items" value="{{ item }}" />
            <label>{{ item }}</label>
        </li>
    {% endfor %}
    </ul>
    <button type="submit">Add to basket</button>
</form>


<h2>What's your pick?</h2>

<form action="{{ url_for('add_thing') }}" method="post">
    <input type="text" name="items">
    <button type="submit">Add to basket</button>
</form>
</html>